doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title VideoChat
    body 
        header
            h1 Video Chat
        main
            h2 Welcome to VideoChat Minor Project!
            form#nickForm
                input(type="text", placeholder="Nickname", required)
                button Save
            ul
            form#msgForm
                input(type="text", placeholder="Write a Message", required)
                button Send
        script(src="/public/javascript/app.js")