:root {
    --ls-blue: #1876D1;
    --ls-white: #f0f0f0;
    --ls-gray: #8a8a8a;
    --ls-gray_lighter: #cecece;
    --ls-gray_lighter2: #f3f3f3;
    --ls-gray_darker1: #2a4a4a;

    --ls-gray_google1: #f9f9f9;
    --ls-gray_google2: #606367;
    --ls-red: #ff4e4e;

    --ls-red_gray: #fe9e9e;
    --ls-blue_gray: #59acff;
    --ls-green: #6bd41a;
    /* --ls-back: #eef5fd;
    --ls-back-darker: #dae1e8;
    --ls-white: #ffffff;
    --ls-gray: #333333; */

    /* Custom Image Slider */
    /* --ls-blue: #4e8cff;
    --ls-blue-active: #2873ff;
    --ls-lightblue: #74C0FC;
    --ls-red: #ff4e4e;
    --ls-modal-background: rgba(0, 0, 0, 0.3); */
    /* Text Color */
    /* --ls-text: #111111;
    --ls-subtext: #333333;
    --ls-text-blue: #4e8cff;

    --ls-footer: #474747;
    --ls-header-left: #ff777783;
    --ls-header-right: #777cffc5; */
}